@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins&display=swap");

// colors
$primary-col: #2c2c54;
$secondary-col1: #5f27cd;
$secondary-col2: #7d5fff;
$secondary-col3: #9980fa;
$tertiary-col: #e9e3ff;

// fonts
$font-fam-1: "Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-col;
    width: 100%;
    height: 60px;
    color: white;
    padding: 40px 0;
}

.partition-nav-1 {
    width: auto;
    height: auto;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-text{
    font-size: 2em;
    line-height: 35px;
    margin-left: 20px;
    font-weight: 700;
    color: white;
}

.partition-nav-2 {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
    font-size: 0.9em;
    color: white;
}

.partition-nav-2>.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    height: 40px;
    transition: 0.2s;
    color: white;
}

.partition-nav-2>.nav-links:hover {
    color: white;
    cursor: pointer;
   border-color: $secondary-col3;
}

.nav-login-btn:hover {
    background-color: $secondary-col3;
    color: white;
    cursor: pointer;
    border-color: $secondary-col3;
}

.nav-login-btn {
    border: 2px solid #7d5fff;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 4px 20px;
    transition: 0.3s;
}

.company-logo{
    height: auto;
    width: 70px;
}
