// colors
$primary-color-navyBlue: #2c2c54;
$secondary-color-purple1: #7d5fff;
$secondary-color-purple2: #5f27cd;
$secondary-color-purple3: #9980fa;
$secondary-color-purple4: #e9e3ff;

.sidebar-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 20vw;
	height: 100vh;
	padding-top: 5px;
	background-color: $primary-color-navyBlue;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sidebar-container::-webkit-scrollbar {
	display: none;
}

.brandName {
	height: 10%;
	padding: 10px 20px;
	font-weight: 700;
	font-size: 30px;
	min-height: 70px;
	width: 100%;
	text-align: center;
	color: $secondary-color-purple4;
}

.brandFront {
	color: $secondary-color-purple3;
}

// side bar items

.functionPrompt {
	width: 300px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	margin: 5px 0;
	user-select: none;
	cursor: pointer;
}

.mainFuncIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-right: 10px;
	color: white;
}

.mainFuncItemName {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 15px;
	width: 250px;
	color: white;
}

.scrollFuncIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-right: 10px;
	color: white;
}

.scroll-function-show {
	transform: rotate(90deg);
}

.cont-show {
	height: auto;
}

.cont-hide {
	height: 0px;
	overflow: hidden;
}

.nested-function-container {
	height: 0;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}

.nested-function-container .cont-show {
	height: auto;
}

.side-bar-item-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
	overflow-y: auto;
}

.side-bar-item-container::-webkit-scrollbar-thumb {
	background-color: $secondary-color-purple1;
	border-radius: 15px;
}

.side-bar-item-container::-webkit-scrollbar {
	width: 0.3em;
}

.side-bar-nested-item {
	text-decoration: none;
	background: none;
	border: none;
	color: $secondary-color-purple4;
	text-transform: capitalize;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 280px;
	padding: 0 0 0 50px;
	font-size: 16px;
	height: 40px;
	margin: 10px 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	transition: 0.3s;
}

.side-bar-nested-item:hover {
	color: $secondary-color-purple1;
	cursor: pointer;
}

.side-bar-nested-item:hover > .icon {
	color: $secondary-color-purple1;
}

.active-nested-item {
	background-color: rgba($color: #ffffff, $alpha: 0.9);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	color: $secondary-color-purple1;
	text-decoration: none;
	text-transform: capitalize;
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 280px;
	padding: 0 0 0 50px;
	font-size: 16px;
	height: 40px;
	margin: 10px 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	transition: 0.3s;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin-right: 15px;
}

.item-name {
	font-size: 16px;
	font-weight: 500;
}
