// colors
$primary-color-navyBlue: #2c2c54;
$secondary-color-purple1: #7d5fff;
$secondary-color-purple2: #5f27cd;
$secondary-color-purple3: #9980fa;
$secondary-color-purple4: #e9e3ff;
$ash-color: #636e72;
$success-color: #2ecc71;
$danger-color: #e74c3c;

// page component css
.background{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-signin-signup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60vw;
    height: 80vh;
    border-radius: 0 0 40px 0;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba($color: #000000, $alpha: .3);
}

.left-partition-reg-user{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: white;
}

// buttons and button container
.switch-buttons-container{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signer-btn{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: lowercase;
    user-select: none;
}

.signer-btn:hover {
    cursor: pointer;
}

.btn-active{
    background-color: rgba($color: #000000, $alpha: .1);
    border-radius: 15px 15px 0 0;
}

.right-partition-reg-user{
    height: 100%;
    width: 66%;
    object-fit: cover;
    border-radius: 35px 0 35px 0;
}

// sign in sign up container styles
.signin-signup-container-main{
    height: 100%;
    width: 98%;
    background-color: rgba($color: #000000, $alpha: .1);
}

// sign in form stylings
.signin-signup-cpt-frame{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.signin-signup-cpt-frame > form{
    width: 100%;
}

.signin-signup-label{
    font-size: .8em;
    font-weight: 600;
    color: $ash-color;
    user-select: none;
    color: $ash-color;
}

.input-container-signin-signup{
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6px;
}

.signin-signup-input-field{
    width: 100%;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid $ash-color;
    margin-top: 5px;
}

.signin-signup-input-field:focus{
    outline-color: $secondary-color-purple1;
}

.signin-signup-btn{
    width: 100%;
    background-color: $secondary-color-purple1;
    color: white;
    font-size: 1.1em;
    padding: 5px 0;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
}

// error message styling
.error-state-signin{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: .9em;
    font-weight: 600;
    color: #d63031;
    margin-top: 10px;
}

.hide{
    visibility: hidden;
}