.successful {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    transition: all .2s ease-in-out;
}
    
.pending {
    background-color: #FF9800;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.processing {
    background-color: #54B7D3;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    text-align: center;
    transition: all .2s ease-in-out;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
}