// colors
$primary-color-navyBlue : #2C2C54;
$secondary-color-purple1: #7D5FFF;
$secondary-color-purple2: #5F27CD;
$secondary-color-purple3: #9980FA;
$secondary-color-purple4: #E9E3FF;

.main-ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    min-height: 70px;
    padding: 5px 20px;
    box-shadow: 0px 10px 8px rgba($color: #000000, $alpha: .4);
}

.inventory-management-text {
    font-size: 28px;
    color: $secondary-color-purple1;
    font-weight: bold;
}

.user-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image {
    height: 60px;
    width: 60px;
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    border: 3px solid $secondary-color-purple1;
}

.profile-details {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.username {
    color: $secondary-color-purple3;
    font-size: 19px;
    font-weight: 600;
}

.designation {
    color: $primary-color-navyBlue;
    font-size: 17px;
    font-weight: 600;
}

.logout-user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 1.1em;
    color: $secondary-color-purple1;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .3s;
}

.logout-user-icon{
    color: $secondary-color-purple1;
    font-size: 1.3em;
    font-weight: 600;
    margin-left: 5px;
    transition: .3s;
}

.logout-user:hover{
    color: $secondary-color-purple2;
    cursor: pointer;
}

.logout-user:hover > .logout-user-icon{
    color: $secondary-color-purple2;
}